<template>
    <div>
        <div>
            <PageTitle icon="fa fa-file-text" main="Produtos" sub=""/>
        </div>
        <b-card no-body>
            <b-tabs card>
                <b-tab title="Lista de produtos">
                    <b-row>
                        <b-col lg="12" class="pb-2">
                            <b-button class="btn btn-outline-secondary pull-right" variant="secondary" href="/products/form" >Novo Produto</b-button>
                        </b-col>
                    </b-row>
                    <b-card class="card">
                        <b-form>
                            <b-row>
                                <b-col md="12" sm="12">
                                    <b-form-group label="Busca" label-for="search">
                                        <b-form-input 
                                        id="search" 
                                        type="text"
                                        v-model="search" 
                                        aria-describedby="search-feedback"
                                        placeholder="Faça sua busca aqui"/>
                                    </b-form-group>
                                </b-col>
                            </b-row>
                        </b-form>
                    </b-card>
                    <div class="product-table">
                        <div class="table table-responsive-sm table-responsive-md">
                            <b-table class="table-sm" hover small striped :items="products" :fields="fields">
                                <template slot="actions" slot-scope="data">
                                    <b-button type="button" class="btn btn-outline-secondary mr-2" v-bind:href="'products/form/'+data.item.id"><i class="fa fa-pencil"></i></b-button>
                                    <b-button type="button" class="btn btn-outline-secondary mr-2" @click="remove(data.item.id)"><i class="fa fa-trash"></i></b-button>
                                </template>
                            </b-table>
                        </div>
                        <div class="mt-3">
                            <p><b>{{'Total de produtos: '}}</b> {{this.totalRows}}</p>
                            <b-pagination 
                                v-model="currentPage" 
                                @change="getPagination($event)" 
                                :total-rows="totalRows" 
                                :per-page="perPage" 
                                align="right">
                            </b-pagination>
                        </div>
                    </div>
                </b-tab>
            </b-tabs>
        </b-card>
       <b-modal 
            v-model="modalShow" 
            id="myModal"
            ref="modal"
            title="Remover local de votação"
            @ok="remove('remove')">
            Deseja remover o registro ? 
        </b-modal>
    </div>
</template>

<script>

import PageTitle from '../template/PageTitle'
import { baseApiUrl, showError } from '@/global'
import axios from 'axios'

export default {
    name: 'Products',
    components: { PageTitle },
    data: function() {
        return {
            mode: 'save',
            product: {},
            products: [],
            fields: [
                { key: 'id', label: 'Id', sortable: true, thStyle: { align: 'center'} , tdClass: 'action'  },
                { key: 'description', label: 'Descrição', sortable: true },
                { key: 'category.description', label: 'Categoria', sortable: true, thStyle: { align: 'center'} , tdClass: 'action'  },
                { key: 'status', label: 'Status', sortable: true, thStyle: { align: 'center'} , tdClass: 'action' },
                { key: 'value', label: 'Valor', sortable: true, thStyle: { align: 'center'} , tdClass: 'action' },
                { key: 'actions', label: 'Ações', thStyle: { align: 'center'} , tdClass: 'action' }
            ],
            currentPage: 1,
            page: this.page,
            perPage: 8,
            totalRows: 0,
            modalShow: false,
            idRemove: null,
            product_description:'',
            search: '',
            oParams: new URLSearchParams()
        }
    },
    watch: {
        'search': function () {            
            if(this.search) {
                this.oParams.set('search', `category.description:${this.search};description:${this.search};value:${this.search}`);
                this.oParams.set('searchFields', 'category.description:ilike;description:ilike;value:ilike');
            }else{
                this.oParams = new URLSearchParams();
            }
            this.loadProducts();
        }
    },
    methods: {
        loadProducts() {
            this.currentPage = this.page;
            this.oParams.set('paginate', `${this.perPage}`);
            this.oParams.set('page', `${this.page}`);
            this.oParams.set('with', 'category');  
            axios.get(`${baseApiUrl}/products`,{params: this.oParams})
                .then( res => {
                    this.products = res.data.data.data.map(product => {
                        product.status = product.active ? 'Ativo' : 'Inativo'; 
                        return product;
                    });
                    this.totalRows = res.data.data.total;
                })
                .catch(showError)
        },
        remove(action) {
            this.modalShow = !this.modalShow
            if( action == 'remove' && this.idRemove !== undefined ){
                axios.delete(`${baseApiUrl}/products/${this.idRemove}`)
                .then(()=> {
                    this.$toasted.global.defaultSuccess()
                    this.loadProducts()
                })
                .catch(showError)
            }else{
                this.idRemove = action
            }    
        },
        getPagination(e){
            this.page = e;
            this.loadProducts();
        },
        edit(id){
            this.router.push({ name: 'products/form', params: { id } })
        }
    },
    mounted() {
        this.page = 1;
        this.loadProducts();
    }
}
</script>

<style>
    .product-table {
        margin-top: 3%;
    }
    .action {
       max-width: 5px;
       text-align: center;
    }
</style>