<template>
    <div class="product-admin">
        <PageTitle icon="fa fa-file-text" main="Produtos" sub=""/>
        <b-card no-body>
            <b-tabs card>
                <b-tab title="Produtos">
                    <div class="product-admin">
                        <b-form @submit.stop.prevent="save" >
                            <input id="product-id" type="hidden" v-model="product.id" />
                            <b-row>
                               <b-col md="6" sm="12">
                                    <b-form-group label="Descrição" label-for="product-description">
                                        <b-form-input 
                                            id="product-description" 
                                            type="text" 
                                            v-model="product.description" 
                                            placeholder="Descrição"/>
                                    </b-form-group>
                                </b-col>
                                <b-col md="6" sm="12">
                                    <b-form-group label="Status" label-for="product-active">
                                        <v-select  :reduce="text => text.value" label="text" v-model="product.active" :options="status"></v-select>
                                    </b-form-group>
                                </b-col>
                            </b-row>
                            <b-row>
                                <b-col md="6" sm="12">
                                    <b-form-group label="Preço" label-for="product-value">
                                        <b-form-input 
                                            id="product-value" 
                                            type="text" 
                                            v-model="product.value" 
                                            placeholder="Preço"/>
                                    </b-form-group>
                                </b-col>
                                <b-col md="6" sm="12">
                                    <b-form-group label="Categoria *" label-for="product-categories_id">
                                        <v-select  :reduce="text => text.value" label="text" v-model="product.categories_id" required :options="categories"></v-select>
                                    </b-form-group>
                                </b-col>
                            </b-row>
                            <hr>
                            <b-row>
                                <b-col xs="12">
                                    <b-button-group><b-button variant="primary" type="submit">Salvar</b-button></b-button-group>
                                    <b-button class="ml-2" :href="'/products'">Sair</b-button>
                                </b-col>
                                <b-col xs="12">
                                    <b-button v-if="product.id" type="button" style="float:right;" :href="'/products/form'" >Novo</b-button>
                                    <b-button v-else type="button" style="float:right;" v-on:click="reset" >Limpar formulário</b-button>
                                </b-col>
                            </b-row>
                        </b-form>
                    </div>
                </b-tab>
            </b-tabs>
        </b-card>
    </div>
</template>

<script>

import PageTitle from '../template/PageTitle'
import { baseApiUrl, showError } from '@/global'
import axios from 'axios'

export default {
    name: 'ProductsForm',
    components: { PageTitle },
    data: function() {
        return {
            product: {
                id: null,
                description : null,
                value: null,
                categories_id: null,
                active: null,
                users_id: null,
            },
            status: [
                { value: 1, text: 'Ativo' },
                { value: 0, text: 'Inativo' },
            ],
            categories: [{ value: null, text: 'Selecione' }],
        }
    },
    methods: {
        loadProduct() {
            if(this.product.id) {
                const url = `${baseApiUrl}/products/${this.product.id}?with=category`
                axios.get(url).then( res => {
                    this.product = res.data.data;
                    this.categories_id = this.product.categories_id;      
                })
            }
        },
        loadCategories(){
            axios.get(`${baseApiUrl}/categories`).then( res => {
                this.categories = res.data.data.map( item => {
                    return { value : item.id, text: item.description }
                });
            })
        },
        reset() {
            this.product = {
                id: null,
                description : null,
                value: null,
                categories_id: null,
                active: null,
                users_id: null,
            }
        },
        save() {
            const method = this.product.id ? 'patch' : 'post'
            const id = this.product.id ? `/${this.product.id}` : ''
            axios[method](`${baseApiUrl}/products${id}`, this.product)
                .then( response => {
                    if(response) {
                        this.product.id = response.data.data.id;
                    }
                    this.$toasted.global.defaultSuccess()
                })
                .catch(showError)
        },
    },
    mounted() {
        this.product.id = this.$route.params.id ? this.$route.params.id : null;
        this.product.active = 1;
        this.loadProduct();
        this.loadCategories();
    }
}
</script>

<style>
    .product-admin h2 {
        color: #777;
        margin-top: 5px;
        font-size: 1.5rem;
    }
</style>