<template>
    <div class="user-admin">
        <PageTitle icon="fa fa-cogs" main="Usuários" sub="Cadastro de usuário"/>
        <b-card no-body>
            <b-tabs card>
                <b-tab title="Criar Usuário">
                    <div class="user-admin">
                        <b-form @submit.stop.prevent="save" >
                            <input id="user-id" type="hidden" v-model="user.id" />
                            <b-row>
                                <b-col md="6" sm="12">
                                    <b-form-group label="Nome *" label-for="user-full_name">
                                        <b-form-input 
                                            id="user-full_name" 
                                            type="text" 
                                            v-model="$v.user.full_name.$model" 
                                            :state="validateState('full_name')"
                                            aria-describedby="full_name-feedback"
                                            placeholder="Nome"/>
                                        <b-form-invalid-feedback id="full_name-feedback">{{msg.required}}</b-form-invalid-feedback>
                                    </b-form-group>
                                </b-col>
                                <b-col md="6" sm="12">
                                    <b-form-group label="Status *" label-for="user-active">
                                        <b-form-select v-model="user.active" :options="status"></b-form-select>
                                    </b-form-group>
                                </b-col>
                            </b-row>
                            <b-row>
                                <b-col md="6" sm="12">
                                    <b-form-group label="Email *" label-for="user-email">
                                        <b-form-input 
                                            id="user-email" 
                                            type="email"
                                            :disabled="disabled"
                                            v-model="$v.user.email.$model" 
                                            :state="validateState('email')"
                                            aria-describedby="email-feedback"
                                            placeholder="Email"/>
                                        <b-form-invalid-feedback id="email-feedback">{{msg.required}}</b-form-invalid-feedback>
                                    </b-form-group>
                                </b-col>
                            </b-row>
                            <b-row>
                                <b-col md="6" sm="12">
                                    <b-form-group label="Senha *" label-for="user-password">
                                        <b-form-input 
                                            id="user-password" 
                                            type="password" 
                                            v-model="$v.user.password.$model" 
                                            :state="validateState('password')"
                                            aria-describedby="password-feedback"
                                            placeholder="Senha"/>
                                        <b-form-invalid-feedback id="password-feedback">{{msg.required}}</b-form-invalid-feedback>
                                    </b-form-group>
                                </b-col>
                                <b-col md="6" sm="12">
                                    <b-form-group label="Confirmação de senha *" label-for="user-confirm-password">
                                        <b-form-input 
                                            id="user-confirm-password" 
                                            type="password"
                                            v-model="$v.user.confirmPassword.$model" 
                                            :state="validateState('confirmPassword')"
                                            aria-describedby="confirmPassword-feedback"
                                            placeholder="Confirmação de senha"/>
                                        <b-form-invalid-feedback id="confirmPassword-feedback">{{msg.required}}</b-form-invalid-feedback>
                                    </b-form-group>
                                </b-col>
                            </b-row>
                            <hr>
                            <b-row>
                                <b-col xs="12">
                                    <b-button variant="primary" type="submit">Salvar</b-button>
                                    <b-button class="ml-2" href="/users">Cancelar</b-button>
                                </b-col>
                            </b-row>
                        </b-form>
                    </div>
                </b-tab>
            </b-tabs>
        </b-card>
    </div>
</template>

<script>
import PageTitle from '../template/PageTitle'
import { baseApiUrl, showError } from '@/global'
import axios from 'axios'
import { validationMixin } from "vuelidate";
import { required } from "vuelidate/lib/validators";

export default {
    name: 'UsersForm',
    components: { PageTitle },
    mixins: [validationMixin],
    data: function() {
        return {
            user: {
                full_name: null,
                email: null,
                active: null,
                password: null, 
                confirmPassword: null
            },
            status:[{ value: '1', text: 'Ativo' },{ value: '0', text: 'Inativo' }],
            msg : { 
                required : 'Campo obrigatório'
            },
            disabled: false
        }
    },
    validations: {
        user: {
            full_name: {required},
            email: {required},
            password: {required},
            confirmPassword: {required}
        }
    },
    methods: {
        validateState(name) {
            const { $dirty, $error } = this.$v.user[name];
            return $dirty ? !$error : null;
        },
        reset() {
            this.user = {
                full_name: null,
                email: null,
                active: null,
                password: null, 
                confirmPassword: null
            }
        },
        save() {
            this.$v.user.$touch();
            if (this.$v.user.$anyError) {
                return;
            }
            const method = this.user.id ? 'patch' : 'post'            
            const id = this.user.id ? `/${this.user.id}` : ''
            axios[method](`${baseApiUrl}/users${id}`, this.user)
                .then(()=> {
                    this.$toasted.global.defaultSuccess()
                    //this.reset()
                })
                .catch(showError)
        },
        loadUser() {
            if(this.user.id) {
                axios.get(`${baseApiUrl}/users/${this.user.id}`).then( res => {
                    this.user = res.data.data;
                    this.disabled = true
                })
            }
        },
    },
    mounted() {
        this.user.active = 1;
        this.user.id = this.$route.params.id ? this.$route.params.id : null;
        this.loadUser();
    }
}
</script>

<style>

</style>