<template>
    <div class="user-admin">
        <PageTitle icon="fa fa-cogs" main="Usuários" sub=""/>
          <div class="admin-pages-tabs">
            <b-card no-body>
                <b-tabs card>
                    <b-tab title="Criar usuários">
                        <b-button class="btn btn-outline-secondary pull-right" variant="secondary" href="/users/form" >Novo usuário</b-button>
                        <div class="table-responsive-sm table-responsive-md">
                            <b-table hover striped :items="users" :fields="fields">
                                <template slot="actions" slot-scope="data">
                                    <b-button type="button" class="btn btn-outline-secondary mr-2" v-bind:href="'/users/form/'+data.item.id"><i class="fa fa-pencil"></i></b-button>
                                    <b-button type="button" class="btn btn-outline-secondary mr-2" @click="remove(data.item.id)"><i class="fa fa-trash"></i></b-button>
                                </template>
                            </b-table>
                        </div>  
                        <div class="mt-3">
                            <b-pagination 
                                v-model="currentPage" 
                                @change="getPagination($event)" 
                                :total-rows="totalRows" 
                                :per-page="perPage" 
                                align="right">
                            </b-pagination>
                        </div>
                        </b-tab>
                </b-tabs>
            </b-card>
        </div>
        <b-modal 
            v-model="modalShow" 
            id="myModal"
            ref="modal"
            title="Remover usuário"
            @ok="remove('remove')">
            Deseja realmente remover o registro ?
        </b-modal>
    </div>
</template>

<script>
import PageTitle from '../template/PageTitle'
import { baseApiUrl, showError } from '@/global'
import axios from 'axios'

export default {
    name: 'Users',
    components: { PageTitle },
    data: function() {
        return {
            mode: 'save',
            user: {},
            users: [],
            fields: [
                { key: 'full_name', label: 'Nome', sortable: true },
                { key: 'email', label: 'E-mail', sortable: true },
                { key: 'status', label: 'Status', sortable: true },
                { key: 'actions', label: 'Ações', thStyle: { align: 'center'} , tdClass: 'action' }
            ],
            modalShow: false,
            idRemove: null,

            currentPage: 1,
            page: this.page,
            perPage: 10,
            totalRows: 0,
        }
    },
    methods: {
        loadUsers() {
            this.currentPage = this.page;
            const params = new URLSearchParams();
            params.append('paginate', `${this.perPage}`);
            params.append('page', `${this.page}`);
            axios.get(`${baseApiUrl}/users`,{params: params}).then( res => {
                this.users = res.data.data.data.map(user => {
                    user.status = user.active ? 'Ativo' : 'Inativo'
                    return user
                });
                this.totalRows = res.data.data.total;
            })
        },
        remove(action) {
            this.modalShow = !this.modalShow
            if( action == 'remove' && this.idRemove !== undefined ){
                axios.delete(`${baseApiUrl}/users/${this.idRemove}`)
                .then(()=> {
                    this.$toasted.global.defaultSuccess()
                    this.loadUsers()
                })
                .catch(showError)
            }else{
                this.idRemove = action
            }    
        },
        getPagination(e) {
            this.page = e;
            this.loadUsers();
        }
    },
    mounted() {
        this.page = 1;
        this.loadUsers();
    }
}
</script>

<style>

</style>