<template>
    <div class="category-admin">
        <b-form>
            <input id="category-id" type="hidden" v-model="category.id" />
            <b-row>
                <b-col md="6" sm="12">
                    <b-form-group label="Descrição" label-for="category-description">
                        <b-form-input 
                            id="category-description" 
                            type="text"
                            v-model="$v.category.description.$model" 
                            :state="validateState('description')"
                            aria-describedby="description-feedback"
                            required 
                            :readonly="mode === 'remove'"
                            placeholder="Descrição"/>
                        <b-form-invalid-feedback id="description-feedback">{{msg.required}}</b-form-invalid-feedback>
                    </b-form-group>
                </b-col>
                <b-col md="6" sm="12">
                    <b-form-group label="Status" label-for="category-active">
                        <b-form-select v-model="category.active" :options="status"></b-form-select>
                    </b-form-group>
                </b-col>
            </b-row>
            <b-row>
                <b-col xs="12">
                    <b-button variant="primary" v-if="mode === 'save'" @click="save">Salvar</b-button>
                    <b-button variant="danger" v-if="mode === 'remove'" @click="remove">Excluir</b-button>
                    <b-button class="ml-2" @click="reset">Cancelar</b-button>
                </b-col>
            </b-row>
        </b-form>
        <hr>
        <b-table class="table-sm" hover striped :items="categories" :fields="fields">
            <template slot="actions" slot-scope="data">
                <b-button type="button" class="btn btn-outline-secondary mr-2" @click="loadUser(data.item)"><i class="fa fa-pencil"></i></b-button>
                <b-button type="button" class="btn btn-outline-secondary mr-2" @click="loadUser(data.item, 'remove')"><i class="fa fa-trash"></i></b-button>
            </template>
        </b-table>
        <div class="mt-3">
            <p><b>{{'Total de categorias: '}}</b> {{this.totalRows}}</p>
            <b-pagination 
                v-model="currentPage" 
                @change="getPagination($event)" 
                :total-rows="totalRows" 
                :per-page="perPage" 
                align="right">
            </b-pagination>
        </div>
    </div>
</template>

<script>
import { baseApiUrl, showError } from '@/global'
import axios from 'axios'
import { validationMixin } from "vuelidate";
import { required } from "vuelidate/lib/validators";

export default {
    name: 'Categories',
    mixins: [validationMixin],
    data: function() {
        return {
            mode: 'save',
            category: {},
            categories: [],
            fields: [
                { key: 'description', label: 'Descrição', sortable: true },
                { key: 'status', label: 'Status', sortable: true},
                { key: 'actions', label: 'Ações', thStyle: { align: 'center'} , tdClass: 'action' }
            ],
            status: [
                { value: 1, text: 'Ativo' },
                { value: 0, text: 'Inativo' },
            ],
            msg : { 
                required : 'Campo obrigatório'
            },
            currentPage: 1,
            page: this.page,
            perPage: 10,
            totalRows: 0,
        }
    },
    validations: {
        category: {
            description: {required},
            active: {required}
        }
    },
    methods: {
        validateState(name) {
            const { $dirty, $error } = this.$v.category[name];
            return $dirty ? !$error : null;
        },
        loadCategories() {
            this.currentPage = this.page;
            const params = new URLSearchParams();
            params.append('orderBy', 'id');
            params.append('paginate', `${this.perPage}`);
            params.append('page', `${this.page}`);
            axios.get(`${baseApiUrl}/categories`,{params: params})
                .then( res => {
                    this.categories = res.data.data.data.map(category => {
                        category.status = category.active ? 'Ativo' : 'Inativo' 
                        return category;
                    });
                    this.totalRows = res.data.data.total;
                })
        },
        reset() {
            this.mode = 'save'
            this.category.active = 1;
            this.category.description = null;
            this.loadCategories()
        },
        save() {
            this.$v.category.$touch();
            if (this.$v.category.$anyError) {
                return;
            }
            const method = this.category.id ? 'patch' : 'post'
            const id = this.category.id ? `/${this.category.id}` : ''
            axios[method](`${baseApiUrl}/categories${id}`, this.category)
                .then(()=> {
                    this.$toasted.global.defaultSuccess()
                    this.reset()
                })
                .catch(showError)
        },
        remove() {
            const id = this.category.id
            axios.delete(`${baseApiUrl}/categories/${id}`)
                .then(()=> {
                    this.$toasted.global.defaultSuccess()
                    this.reset()
                })
                .catch(showError)
        },
        loadUser(category, mode = 'save') {
            this.mode = mode;
            this.category = category
        },
        getPagination(e){
            this.page = e;
            this.loadCategories();
        },
    },
    mounted() {
        this.page = 1;
        this.category.active = 1;
        this.loadCategories();
    }
}
</script>

<style>

</style>