<template>
    <div class="admin-pages">
        <PageTitle icon="fa fa-pie-chart" main="Categorias" sub=""/>
        <div class="admin-pages-tabs">
            <b-card no-body>
                <b-tabs card>
                    <b-tab title="Criar Categoria">
                        <Categories />
                    </b-tab>
                </b-tabs>
            </b-card>
        </div>
    </div>    
</template>

<script>
import PageTitle from '../template/PageTitle'
import Categories from './Categories'

export default {
    name: 'CategoriesPages',
    components: { PageTitle, Categories }
}
</script>
    
<style>

</style>