<template>
    <div class="home">
        <PageTitle icon="fa fa-home" main="Dashboard" sub=""/>
        <div class="states">
            <Stat title="Categories" :value="categories.length" icon="fa fa-list" color="#d54d50" />
            <Stat title="Produtos" :value="products.length" icon="fa fa-list" color="#3282cd" />
        </div>
       
    </div>
</template>

<script>

import PageTitle from '@/components/template/PageTitle'
import Stat from './Stat'

import axios from 'axios'
import { baseApiUrl,showError } from '@/global'

export default {
    name: 'Home',
    components: { PageTitle, Stat },
    data: function() {
        return {
            categories: {},
            products: {},
        }
    },
    methods: {
        loadCategories(){
            const params = new URLSearchParams();
            axios.get(`${baseApiUrl}/categories`,{params: params})
            .then( res => {
                this.categories = res.data.data;
            })
            .catch(showError)
        },
        loadProducts(){
            const params = new URLSearchParams();
            axios.get(`${baseApiUrl}/products`,{params: params})
            .then( res => {
                this.products = res.data.data;
            })
            .catch(showError)
        }
    },  
    mounted() {
        this.loadCategories();
        this.loadProducts();
    }
}
</script>

<style>
    .states  {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .stat {
        flex: 1;
        display: flex;
        border-radius: 8px;
        margin-right: 20px;
        margin-bottom: 20px;
        background-color: #FFF;
        padding: 20px;
        border: 1px solid rgba(0, 0, 0, 0.2);
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
    }

    .stat-icon {
        display: flex;
        align-items: center;
    }

    .stat-icon i {
        font-size: 5rem;
    }

    .stat-info {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .stat-tile {
        font-size: 1.2rem;
    }

    .stat-value {
        font-size: 3rem;
    }

</style>