<template>
    <header class="header">
        <a class="toggle" @click="toggleMenu" v-if="!hideToggle" ><i class="fa fa-lg" :class="icon"></i></a>
        <h1 class="title"  v-if="!hideToggle" ><router-link to="/">{{title}}</router-link></h1>
        <UserDropdown v-if="!hideUserDropdown" />
    </header>
</template>

<script>
import UserDropdown from './UserDropdown'

export default {
    name: 'Header',
    components: {
        UserDropdown
    },
    props: {
        title: String,
        hideToggle: Boolean,
        hideUserDropdown: Boolean
    },
    computed: {
        icon() {
            return this.$store.state.isMenuVisible ? "fa-angle-left" : "fa-angle-down"
        }
    },
    methods: {
        toggleMenu() {
            this.$store.commit('toggleMenu')
        }
    }
}
</script>

<style>
    .header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 60px;
        z-index: 1000;
        grid-area: header;
        color: #fff;
        background-color: #16bfc1;
        border-color: #16bfc1;
        display:  flex;
        justify-content: center;
        align-items: center;
    }

    .title {
        font-size: 1.2rem;
        color: #fff;
        font-weight: 100;
        flex-grow: 1;
        text-align: left;
        margin-left: 10px;
        margin-top: 10px;
    }

    .title a {
        color: #fff;
        text-decoration: none;
    }

    .title a:hover {
        color: #fff;
        text-decoration: none;
    }

    header.header > a.toggle {
        width: 60px;
        height: 100%;
        color:  #fff;
        justify-self: flex-start;
        text-decoration: none;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    header.header > a.toggle:hover {
        color:  #fff;
        background-color: rgba(0, 0, 0, 0.2);
    }

</style>