<template>
    <aside class="menu" v-show="isMenuVisible">
        <div class="menu-filter">
            <i class="fa fa-search fa-lg"></i>
            <input type="text" placeholder="Digite para filtrar..." v-model="treeFilter" class="filter-field">
        </div>
        <Tree :data="treeData" :options="treeOptions" :filter="treeFilter" ref="tree" />
    </aside>
</template>

<script>

import { mapState } from 'vuex'
import Tree from 'liquor-tree'

export default {
    name: 'Menu',
    components: { Tree },
    computed: mapState(['isMenuVisible']),
    data: function() {
        return {
            treeFilter: '',
            treeData: [
                { id: 'home', text: 'Dashboard' },
                { id: 'categories', text: 'Categorias' },
                { id: 'products', text: 'Produtos' },
            ],
            treeOptions: {
                propertNames : { 'text' : 'name'},
                filter: { emptyText: 'Não encontrado' }
            }
        }
    },
    methods: {
        onNodeSelect(node) {
            this.$router.push({ name:  node.id })
            if(this.$mq === 'xs' || this.$mq === 'sm') {
                this.$store.commit('toggleMenu', false)
            }
        }
    },
    mounted() {
        this.$refs.tree.$on('node:selected', this.onNodeSelect)
        if(this.$mq === 'xs' || this.$mq === 'sm') {
            this.$store.commit('toggleMenu', false)
        }
    }
}
</script>

<style>
   .menu {
        grid-area: menu;
        background: #3f4a50;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin: 0px;
        margin-top: 50px;
        position: fixed;
        height: 100vh;
    }

    .menu a,
    .menu a:hover {
        color: rgba(255, 255, 255, 0.952);
        text-decoration: none;
    }

    .menu .tree-node.selected > .tree-content,
    .menu .tree-node .tree-content:hover {
        background-color: rgba(255, 255, 255, 0.2) !important;
    }

    .tree-arrow.has-child {
        filter: brightness(2);
    }

    .menu .menu-filter {
        display: flex;
        justify-content: center;
        align-items: center;

        margin: 20px;
        padding-bottom: 8px;
        border-bottom: 1px solid #AAA;
    }

    .menu .menu-filter i {
        color: #AAA;
        margin-right: 10px;
    }

    .menu input {
        color: #CCC;
        font-size: 1.3rem;
        border: 0;
        outline: 0;
        width: 100%;
        background: transparent;
    }

    .tree-filter-empty {
        color: #CCC;
        font-size: 1.3rem;
        margin-left: 20px;
    }
</style>