<template>
    <div class="auth-content">
        <div class="auth-modal">
            <img src="@/assets/logo.png" width="150" alt="Logo" />
            <hr>
            <div class="auth-title">{{ showSignup ? 'Cadastro' : 'Login' }}</div>
            <input v-model="user.username" name="email" type="text" placeholder="E-mail">
            <input v-model="user.password" name="password" type="password" placeholder="Senha">
            <button @click.prevent="token" >Entrar</button>
        </div>
    </div>
</template>

<script>
import { baseApiUrl, showError, userKey, token } from '@/global'
import axios from 'axios'

export default {
    name: 'Auth',
    data: function() {
        return {
            showSignup: false,
            user: {
                username: null,
                password: null,
                grant_type: 'password',
                client_id: '2',
                client_secret: 'm60M1ExvAD69RJ6h1amtsxaGGE1X4nC30vdSFgKz',
                scope: ['*'],
                token: null
            }
        }
    },
    methods: {
        token() {
            if( this.user.username && this.user.password ){
                axios.post(`${baseApiUrl}/oauth/token`, this.user)
                .then(res => {
                    localStorage.setItem(token, JSON.stringify(res.data))
                    this.user.token = res.data.access_token
                    this.$store.commit('setUser',  this.user)
                    this.logged()
                })
                .catch(showError) 
            } else {
                this.$toasted.global.defaultError()
            }
        },
        logged() {
            axios.get(`${baseApiUrl}/users/logged`, this.user)
                .then(res => {
                    localStorage.setItem(userKey, JSON.stringify(res.data))

                    this.$store.commit('setUser', null)
                    const user = res.data.data;
                    user.token = res.data.data.token_access;
                    this.$store.commit('setUser', user )
                    
                    this.$router.push({ path: '/' })
                })
                .catch(showError)
        },
        enterKeyFilter() {
            if (window.event.keyCode == 13){  
                event.returnValue=false;
                event.cancel = true;
            }
        },
        logout() {
            localStorage.removeItem(userKey)
            localStorage.removeItem(token)
            this.$store.commit('setUser', null)
            this.$router.push({ name: 'auth' })
        }
    },
    mounted(){
        this.logout()
    }
}
</script>

<style>
    .auth-content {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .auth-modal {
        background-color: #FFF;
        width: 350px;
        padding: 35px;
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .auth-title {
        font-size: 1.2rem;
        font-weight: 100;
        margin-top: 10px;
        margin-bottom: 15px;
    }

    .auth-modal input {
        border: 1px solid #BBB;
        width: 100%;
        margin-bottom: 15px;
        padding: 3px 8px;
        outline: none;
    }

    .auth-modal button {
        align-self: flex-end;
        background-color: #16bfc1;
        color: #FFF;
        padding: 5px 15px;
    }

    .auth-modal a {
        margin-top: 35px;
    }

    .auth-modal hr {
        border: 0;
        width: 100%;
        height: 1px;
        background-image: linear-gradient(to right,
            rgba(120, 120, 120, 0),
            rgba(120, 120, 120, 0.75),
            rgba(120, 120, 120, 0));
    }
</style>